.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  margin-top: 7vh;
  margin-bottom: 3vh;
}

.game button,
.game.category-button {
  color: #000000;
}

.voice {
  width: 50px;
  height: 50px;
  background-image: url(../asset/Speaker_Icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(30%) sepia(20%) saturate(13%) hue-rotate(14deg) brightness(97%) contrast(88%);
  cursor: pointer;
  transition: .5s;
  margin-bottom: 12vh;
}

.voice:hover {
  filter: invert(0%) sepia(0%) saturate(7489%) hue-rotate(296deg) brightness(94%) contrast(103%);
}

.words-to-guess {
  display: flex;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

.word-to-guess {
  padding: 10px;
  transition: .5s;
}

.word-to-guess.active {
  background-color: green;
}

.word-to-guess:hover {
  background-color: #bababa;
}

.next-word {
  background: transparent;
  border: 1px solid #cdcdcd;
  padding: 10px 20px;
  box-shadow: 5px 5px 2px 1px rgba(56, 56, 56, 0.2);
  color: #968659;
  cursor: pointer;
}

.next-word:hover {
  box-shadow: none;
}

.rightAnswer {
  background-color: green;
}

.falseAnswer {
  background-color: red;
}

.category-button {
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: transparent;
  border: 1px solid black;
  font-weight: bold;
  transition: .5s;
  color: #000000;
}

.category-button:hover {
  background-color: #6b6b6b;
  color: white;
}

.progress-indicator {
  margin: 0 auto;
}

.answers-indicator {
  height: 10px;
}

.right-answer {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../asset/right-answer.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.false-answer {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../asset/false-answer.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.answers-buttons {
  display: flex;
  gap: 10px;
}

.answer-button {
  background-color: transparent;
  border: 1px solid black;
  font-weight: bold;
  transition: .5s;
}

.answer-button:hover {
  background-color: #6b6b6b;
  color: white;
}

.preloader {
  font-weight: bold;
  font-size: 9vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}