.authorization {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}
.title {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.input {
  width: 280px;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

}
.input:hover {
  width: 300px;
  border-color: #2ecc71;
  transition: 0.4s;

}
.input:focus {
  background: #3498db;
}
.login, .signin {
  width: 280px;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.login:hover, .signin:hover {
  background: #2ecc71 ;
}