.textbook {
  padding: 0 20px;
}

.heading {
  margin: 30px auto;
  width: 300px;
  text-align: center;
}

.words {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px auto;
}

.words .item {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
  box-shadow: 5px 5px 2px 1px rgb(0 0 255 / 20%);
  border: 1px solid #cfcfcf;
  border-radius: 22px;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .words .item {
    gap: 0;
    flex-direction: column;
    padding-right: 0;
    max-width: 500px;
  }
}


.words .item .wrapper {
  display: flex;
  height: 550px;
  width: 390px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.words .item .wrapper p {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 22px;
}

.item__img {
  width: 300px;
  height: 204px;
}

@media (max-width: 768px) {
  .item__img {
    width: 100%;
    height: auto;
  }
}

.item__img img {
  width: 300px;
  height: 204px;
  border-radius: 22px 0 0 22px;
}

@media (max-width: 768px) {
  .item__img img {
    width: 100%;
    height: auto;
    border-radius: 22px 22px 0 0;
  }
}

.item__words-translate p {
  padding: 0;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .item__words-translate p {
    padding: 0 20px;
  }
}

.item__word-eng {
  color: #008000;
  font-weight: bold;
}

.item__word-transcript {
  color: #424242;
}

.item__word-translate {
  font-weight: bold;
}

.item__word {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.item__word span {
  align-self: center;
}

.item__speaker {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../asset/speaker_louder.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .5s;
}

.item__explain,
.item__example {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.item__explain-eng,
.item__example-eng {
  font-weight: bold;
}

.item__explain-translate,
.item__example-translate {
  color: #424242;
}

.item__buttons {
  display: flex;
  max-width: 200px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .item__buttons {
    max-width: 100%;
    border-radius: 0 0 20px 20px;
    margin-bottom: 0;
  }
}

.difficult {
  width: 50%;
  height: 100%;
  border-radius: 0;
  background-color: #c9c9c9;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 14px;
}

@media (max-width: 768px) {
  .difficult {
    border-radius: 0 0 0 20px;
  }
}

.learned {
  width: 50%;
  height: 100%;
  border-radius: 0;
  background-color: #3e3e3e;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-size: 14px;
}

@media (max-width: 768px) {
  .learned {
    border-radius: 0 0 20px 0;
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(5, 52px);
  column-gap: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button_start,
.button_left,
.button_active,
.buttom_right,
.buttom_end {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 11px;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button_active {
  background: #CDCDCD;
}

.button_start,
.button_left,
.buttom_right,
.buttom_end {
  border: 2px solid #CDCDCD;
}

.button_start:hover,
.button_left:hover,
.buttom_right:hover,
.buttom_end:hover {
  background: #CDCDCD;
  cursor: pointer;
}

.button_start.none_active,
.button_left.none_active,
.buttom_right.none_active,
.buttom_end.none_active {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.button_start.none_active:hover,
.button_left.none_active:hover,
.buttom_right.none_active:hover,
.buttom_end.none_active:hover {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  background-color: transparent;
  cursor: auto;
}

.chapters {
  display: flex;
  gap: 10px;
  padding: 5px;
  margin: 30px auto;
  justify-content: center;
  line-height: 30px;
}

.chapter {
  border: 1px solid #CDCDCD;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  transition: .5s;
}

.chapter:hover {
  background-color: #CDCDCD;
}

/* arrows */

.vertical-arrows {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 42px;
  height: 89px;
}

.arrow-up,
.arrow-down {
  width: 40px;
  height: 40px;
  background-color: #4d4d64;
  opacity: .5;
  border: none;
  cursor: pointer;
  transition: .5s;
}

.arrow-up:hover,
.arrow-down:hover {
  background-color: #8282b9;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 5px;
}

/* end arrows */